
<section class="content">
    <div class="content-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-info card-outline mt-5">
                    <div class="card-header">
                        <h3 class="card-title">Kullanılan Teknolojiler</h3>
                    </div>
                    <div class="card-body">
                        <h3>1) .Net Core Mvc 7</h3>
                        <h3>2) Microsoft SQL Server</h3>
                        <h3>3) Html, Css - Bootstrap</h3>
                        <h3>4) Entity Framework (Code First)</h3>
                        <h3>5) NToastNotify Kütüphanesi (Kullanıcı bildirimleri için)</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>